<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body class="container">
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Personal directory for bobas and coffees</h1>
      <p class="lead">This directory includes data on drinks consumed and allows for new submissions. This API is outputting to EJS.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/submit-new-drink" role="button">Submit a drink</a>
      </p>
    </div>
  </div>
</body>
</html>